<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODODO!</title>
    <script src="./libraries/jquery-2.2.2.min.js"></script>
    <script src="./libraries/angular.min.js"></script>
    <script src="./libraries/angular-local-storage.min.js"></script>
    <script src="./script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="App" ng-controller="AppCtrl">
<h1 class="heading">TODODO!</h1>

<div class="container">
    <form class="head-task" ng-submit="newTask()">
        <input class="task-check" ng-show="tasks.length" type="checkbox" ng-model="mainCheck"
               ng-checked="mainCheck"
               ng-click="checkAll()">
        <input class="task-input" type="text" ng-model="text"
               name="text"
                placeholder="What tododo?">
    </form>

    <ul class="task-list">
        <li class="task-example"
            ng-repeat="task in tasks | filter: {display:true}">
            <input type="checkbox" ng-model="task.checked" ng-click="mainCheckState()" ng-checked="task.checked">
            <label>{{task.text}}</label>
            <div class="glyphicon glyphicon-trash" ng-click="deleteItem(task)"></div>
        </li>
    </ul>

    <div ng-show="tasks.length" class="bottom-butt">
        <div class="btn-group" role="group">
            <button class="btn btn-default btn-sm"
                    ng-click="displayControl(false)">
                Active</button>
            <button class="btn btn-default btn-sm"
                    ng-click="displayControl(true)">
                Completed</button>
            <button class="btn btn-default btn-sm" ng-click="showAll()">All
            </button>
        </div>
        <button class="btn btn-default btn-sm clear-completed" ng-click="clearCompleted()" ng-show="!noTrueChecks && tasks.length">Clear completed</button>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>